@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;700&display=swap');

:root {
    --primary-color: #3a86ff;
    --secondary-color: #8338ec;
    --background-color: #f8f9fa;
    --text-color: #212529;
    --editor-background: #2d2d2d;
    --editor-text: #f8f8f2;
}

.dark-mode {
    --primary-color: #8338ec;
    --secondary-color: #3a86ff;
    --background-color: #1a1a1a;
    --text-color: #f8f9fa;
    --editor-background: #2d2d2d;
    --editor-text: #f8f8f2;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Fira Code', monospace;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 2rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

h1 {
    font-size: 2.5rem;
    color: var(--primary-color);
    /* animation: glow 2s ease-in-out infinite alternate; */
}

h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: var(--secondary-color);
}

.controls {
    display: flex;
    gap: 1rem;
}

button {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: var(--primary-color);
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.editor-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    margin-bottom: 1rem;
}

.editor-wrapper {
    background-color: var(--editor-background);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.editor-wrapper:hover {
    transform: translateY(-5px);
}

.editor {
    height: 300px;
}

.output-container {
    background-color: var(--editor-background);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#output-frame {
    width: 100%;
    height: 300px;
    border: none;
    background-color: white;
}

footer {
    text-align: center;
    margin-top: 2rem;
    font-size: 0.8rem;
    color: var(--secondary-color);
}

footer a {
    color: var(--secondary-color);
    text-decoration: none;
}
    

@keyframes glow {
    from {
        text-shadow: 0 0 5px var(--primary-color), 0 0 10px var(--primary-color);
    }
    to {
        text-shadow: 0 0 10px var(--primary-color), 0 0 20px var(--primary-color);
    }
}

@media (max-width: 768px) {
    .editor-container {
        grid-template-columns: 1fr;
    }
}